@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /*#000000*/
    --foreground: 0, 0%, 5%; /*#0D0D0D*/
    --card: 0 0% 100%; /*#000000*/
    --card-foreground: 0, 0%, 5%; /*#0D0D0D*/
    --popover: 0 0% 100%; /*#000000*/
    --popover-foreground: 0, 0%, 5%; /*#0D0D0D*/
    --primary: 39, 96%, 48%; /*#F29F05*/
    --primary-foreground: 33, 96%, 18%; /*#593202*/
    --secondary: 60 4.8% 95.9%; /*#F5F5F4*/
    --secondary-foreground: 24 9.8% 10%; /*#1C1917*/
    --muted: 60 4.8% 95.9%; /*#F5F5F4*/
    --muted-foreground: 25 5.3% 44.7%; /*#78716C*/
    --accent: 60 4.8% 95.9%; /*#F5F5F4*/
    --accent-foreground: 24 9.8% 10%; /*#1C1917*/
    --destructive: 0 84.2% 60.2%; /*#EF4444*/
    --destructive-foreground: 0, 0%, 85%; /*#D9D9D9*/
    --border: 20 5.9% 90%; /*#E7E5E4*/
    --input: 20 5.9% 90%; /*#E7E5E4*/
    --ring: 20, 0%, 5%; /*#0D0D0D*/
    --radius: 1rem;
  }

  .dark {
    --background: 0, 0%, 5%; /*#0D0D0D*/
    --foreground: 0, 0%, 85%; /*#D9D9D9*/
    --card: 0, 0%, 5%; /*#0D0D0D*/
    --card-foreground: 0, 0%, 85%; /*#D9D9D9*/
    --popover: 0, 0%, 5%; /*#0D0D0D*/
    --popover-foreground: 0, 0%, 85%; /*#D9D9D9*/
    --primary: 39, 96%, 48%; /*#F29F05*/
    --primary-foreground: 33, 96%, 18%; /*#593202*/
    --secondary: 12 6.5% 15.1%; /*#292524*/
    --secondary-foreground: 0, 0%, 85%; /*#D9D9D9*/
    --muted: 12 6.5% 15.1%; /*#292524*/
    --muted-foreground: 24 5.4% 63.9%; /*#A8A29E*/
    --accent: 12 6.5% 15.1%; /*#292524*/
    --accent-foreground: 0, 0%, 85%; /*#D9D9D9*/
    --destructive: 0 62.8% 30.6%; /*#7F1D1D*/
    --destructive-foreground: 0, 0%, 85%; /*#D9D9D9*/
    --border: 12 6.5% 15.1%; /*#292524*/
    --input: 12 6.5% 15.1%; /*#292524*/
    --ring: 35.5 91.7% 32.9%; /*#A16207*/
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
